# Environment variables / secrets
.env

# Database
db.sqlite3
db.sqlite3-journal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
media/
staticfiles/

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log