

{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<hr class="border border-light border-1">
<div class="container-fluid d-flex justify-content-between align-items-center px-4">
    <h5>Home</h5>
</div>
<hr class="border border-white border-1">

<div class="container-fluid py-4">
    <h2>Welcome to the YourPOS</h2>
    <p>Simple Point of Sale Webapplication for your cafe / restaurant.</p>
    <h5><strong>How it works(Guide):</strong></h5>
    <p>1. Staff selects a table → a `Order tab` status flips to <b>Occupied</b>, an active `Order` is created (or reused).</p>
    <p>2. Add an item with its variants.</p>
    <p>3. Settling the bill snapshots the order into a `Bill` record.</p>
    <p>4. The table flips back to <b>Available</b>, ready for the next customer.</p>
</div>
{% endblock body %}


