{% extends "base.html" %}
{% block title %}Orders{% endblock title %}
{% block body %}
<hr>
<div class="container-fluid">
    <div class="container-fluid">
    
        <p>Tables Views </p>
        <hr>
    </div>
    <div class="container flex-row">
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>
        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 1</div>
            <div class="card-body">status</div>
        </div>

        <div class="card d-inline-flex m-1">
            <div class="card-header">Table 2</div>
            <div class="card-body">status</div>
        </div>


    </div>
</div>
















{% endblock body %}